<% if user_signed_in? %> <!-- Se tiver logado, mostrar menu dropdown com opções -->
	<li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Menu <span class="caret"></span></a>
	  <ul class="dropdown-menu" role="menu">
	  	<%= render 'layouts/navigation_links' %>
	  </ul>
	</li>
<% end %>
<%= render 'layouts/nav_links_for_auth' %>